.sidebar.sidebar-light.sidebar-fixed.sidebar-self-hiding-xl#sidebar
  .sidebar-brand.d-lg-down-none
    svg.sidebar-brand-full(width="118" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#full")
    svg.sidebar-brand-narrow(width="46" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#signet")
  ul.sidebar-nav(data-coreui="navigation")
    li.nav-item
      a.nav-link.nav-link-success(href="apps/email/compose.html")
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-pencil")
        | New email
    li.nav-item
      a.nav-link(href='apps/email/inbox.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-inbox")
        |  Inbox
        span.badge.bg-danger-gradient.ms-auto 4
    li.nav-item
      a.nav-link(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
        |  Stared
    li.nav-item
      a.nav-link(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paper-plane")
        |  Sent
    li.nav-item
      a.nav-link(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash")
        |  Trash
    li.nav-item
      a.nav-link(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bookmark")
        |  Important
        span.badge.bg-info-gradient.ms-auto 25
    li.nav-item.mt-auto
      a.nav-link(href=ajax ? 'main.html' : 'index.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speedometer")
        |  Dashboard
        span.badge.bg-info-gradient.ms-auto NEW
  button.sidebar-toggler(type="button" data-coreui-toggle="unfoldable")

