extends ../../../_layout/email.pug

block view
  .card.email-app
    .card-body
      form
        .row.mb-3
          label.col-2.col-sm-1.col-form-label(for='to') To:
          .col-10.col-sm-11
            input#to.form-control(type='email', placeholder='Type email')
        .row.mb-3
          label.col-2.col-sm-1.col-form-label(for='cc') CC:
          .col-10.col-sm-11
            input#cc.form-control(type='email', placeholder='Type email')
        .row.mb-3
          label.col-2.col-sm-1.col-form-label(for='bcc') BCC:
          .col-10.col-sm-11
            input#bcc.form-control(type='email', placeholder='Type email')
      .row
        .col-sm-11.ms-auto
          .btn-toolbar(role='toolbar')
            .btn-group
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bold")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-italic")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-underline")
            .btn-group
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-align-left")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-align-right")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-align-center")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-justify-center")
            .btn-group
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-indent-increase")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-indent-decrease")
            .btn-group
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list")
              button.btn.btn-light(type='button')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list-numbered")
            button.btn.btn-light(type='button')
              svg.icon
                use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-trash")
            button.btn.btn-light(type='button')
              svg.icon
                use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-paperclip")
            .btn-group
              button.btn.btn-light.dropdown-toggle(type='button', data-coreui-toggle='dropdown')
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-tags")
                span.caret
              .dropdown-menu
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-danger  Home
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-info  Job
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-success  Clients
                a.dropdown-item(href='#')
                  | add label
                  span.badge.badge-warning  News
          .mb-3.mt-4
            textarea#message.form-control(name='body', rows='12', placeholder='Click here to reply')
          .mb-3
            button.btn.btn-success(type='submit') Send
            button.btn.btn-light(type='submit') Draft
            button.btn.btn-danger(type='submit') Discard


