mixin callout(name, href)
  .callout.callout-info.border-top-0.border-bottom-0.border-end-0.elevation-2.bg-white(class='dark:bg-opacity-10')
    | CoreUI #{name} has been created as an extension of Bootstrap #{name}. #{name} is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.
    br
    br
    | For more information please visit our official
    |
    a(href=href target="_blank") documentation
    | .
