.sidebar.sidebar-dark.sidebar-fixed#sidebar
  .sidebar-brand.d-none.d-md-flex
    svg.sidebar-brand-full(width="118" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#full")
      |
    svg.sidebar-brand-narrow(width="46" height="46" alt="CoreUI Logo")
      use(xlink:href="assets/brand/coreui.svg#signet")
  ul.sidebar-nav(data-coreui="navigation" data-simplebar)
    li.nav-item
      a.nav-link(href='index.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-speedometer")
        |  Dashboard
        span.badge.bg-info-gradient.ms-auto NEW
    li.nav-title
      | Theme
    li.nav-item
      a.nav-link(href='colors.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-drop")
        |  Colors
    li.nav-item
      a.nav-link(href='typography.html')
          svg.nav-icon
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-pencil")
          |  Typography
    li.nav-title
      | Components
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-puzzle")
        |  Base
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='base/accordion.html')
            span.nav-icon
            |  Accordion
        li.nav-item
          a.nav-link(href='base/breadcrumb.html')
            span.nav-icon
            |  Breadcrumb
        li.nav-item
          a.nav-link(href='base/cards.html')
            span.nav-icon
            |  Cards
        li.nav-item
          a.nav-link(href='base/carousel.html')
            span.nav-icon
            |  Carousel
        li.nav-item
          a.nav-link(href='base/collapse.html')
            span.nav-icon
            |  Collapse
        li.nav-item
          a.nav-link(href='base/list-group.html')
            span.nav-icon
            |  List group
        li.nav-item
          a.nav-link(href='base/navs-tabs.html')
            span.nav-icon
            |  Navs &amp; Tabs
        li.nav-item
          a.nav-link(href='base/pagination.html')
            span.nav-icon
            |  Pagination
        li.nav-item
          a.nav-link(href='base/placeholders.html')
            span.nav-icon
            |  Placeholders
        li.nav-item
          a.nav-link(href='base/popovers.html')
            span.nav-icon
            |  Popovers
        li.nav-item
          a.nav-link(href='base/progress.html')
            span.nav-icon
            |  Progress
        li.nav-item
          a.nav-link(href='base/scrollspy.html')
            span.nav-icon
            |  Scrollspy
        li.nav-item
          a.nav-link(href='base/spinners.html')
            span.nav-icon
            |  Spinners
        li.nav-item
            a.nav-link(href='base/tables.html')
              span.nav-icon
              |  Tables
        li.nav-item
          a.nav-link(href='base/tooltips.html')
            span.nav-icon
            |  Tooltips
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-cursor")
        |  Buttons
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='buttons/buttons.html')
            span.nav-icon
            |  Buttons
        li.nav-item
          a.nav-link(href='buttons/button-group.html')
            span.nav-icon
            |  Buttons Group
        li.nav-item
          a.nav-link(href='buttons/loading-buttons.html')
            |  Loading Buttons
            span.badge.bg-danger-gradient.ms-auto PRO
        li.nav-item
          a.nav-link(href='buttons/dropdowns.html')
            span.nav-icon
            |  Dropdowns
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-notes")
        |  Forms
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='forms/form-control.html')
            |  Form Control
        li.nav-item
          a.nav-link(href='forms/select.html')
            |  Select
        li.nav-item
          a.nav-link(href='forms/multi-select.html')
            span.nav-icon
            |  Multi Select
            span.badge.bg-danger-gradient.ms-auto PRO
        li.nav-item
          a.nav-link(href='forms/checks-radios.html')
            |  Checks and radios
        li.nav-item
          a.nav-link(href='forms/range.html')
            |  Range
        li.nav-item
          a.nav-link(href='forms/input-group.html')
            |  Input group
        li.nav-item
          a.nav-link(href='forms/floating-labels.html')
            |  Floating labels
        li.nav-item
          a.nav-link(href='forms/date-picker.html')
            |  Date Picker
            span.badge.bg-success.ms-auto LAB
        li.nav-item
          a.nav-link(href='forms/date-range-picker.html')
            |  Date Range Picker
            span.badge.bg-success.ms-auto LAB
        li.nav-item
          a.nav-link(href='forms/time-picker.html')
            |  Time Picker
            span.badge.bg-success.ms-auto LAB
        li.nav-item
          a.nav-link(href='forms/layout.html')
            |  Layout
        li.nav-item
          a.nav-link(href='forms/validation.html')
            |  Validation
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
        |  Icons
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='icons/coreui-icons-free.html')
            |  CoreUI Icons
            span.badge.bg-success.ms-auto Free
        li.nav-item
          a.nav-link(href='icons/coreui-icons-brand.html')
            |  CoreUI Icons - Brand
        li.nav-item
          a.nav-link(href='icons/coreui-icons-flag.html')
            |  CoreUI Icons - Flag
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bell")
        |  Notifications
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='notifications/alerts.html')
            span.nav-icon
            |  Alerts
        li.nav-item
          a.nav-link(href='notifications/badge.html')
            span.nav-icon
            |  Badge
        li.nav-item
          a.nav-link(href='notifications/modals.html')
            span.nav-icon
            |  Modals
        li.nav-item
          a.nav-link(href='notifications/toasts.html')
            span.nav-icon
            |  Toasts
    li.nav-item
      a.nav-link(href='widgets.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calculator")
        |  Widgets
        span.badge.bg-info-gradient.ms-auto NEW
    li.nav-divider
    li.nav-title
      | Plugins
    li.nav-item
      a.nav-link(href='calendar.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calendar")
        |  Calendar
        span.badge.bg-danger-gradient.ms-auto PRO
    li.nav-item
      a.nav-link(href='charts.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart-pie")
        |  Charts
    li.nav-item
      a.nav-link(href='datatables.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-spreadsheet")
        |  DataTables
        span.badge.bg-danger-gradient.ms-auto PRO
    li.nav-item
      a.nav-link(href='google-maps.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-map")
        |  Google Maps
        span.badge.bg-danger-gradient.ms-auto PRO
    li.nav-title
      | Extras
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-star")
        |  Pages
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='login.html' target="_top")
            svg.nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout")
            |  Login
        li.nav-item
          a.nav-link(href='register.html' target="_top")
            svg.nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout")
            |  Register
        li.nav-item
          a.nav-link(href='404.html' target="_top")
            svg.nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bug")
            |  Error 404
        li.nav-item
          a.nav-link(href='500.html' target="_top")
            svg.nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-bug")
            |  Error 500
    li.nav-group
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-layers")
        |  Apps
      ul.nav-group-items
        li.nav-group
          a.nav-link.nav-group-toggle(href='#')
            svg.nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-description")
            |  Invoicing
          ul.nav-group-items
            li.nav-item
              a.nav-link(href='apps/invoicing/invoice.html')
                |  Invoice
                span.badge.bg-danger-gradient.ms-auto PRO
        li.nav-group
          a.nav-link.nav-group-toggle(href='#')
            svg.nav-icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
            |  Email
          ul.nav-group-items
            li.nav-item
              a.nav-link(href='apps/email/inbox.html')
                |  Inbox
                span.badge.bg-danger-gradient.ms-auto PRO
            li.nav-item
              a.nav-link(href='apps/email/message.html')
                |  Message
                span.badge.bg-danger-gradient.ms-auto PRO
            li.nav-item
              a.nav-link(href='apps/email/compose.html')
                |  Compose
                span.badge.bg-danger-gradient.ms-auto PRO
    li.nav-item.mt-auto
      a.nav-link(href='docs.html')
        svg.nav-icon
          use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-description")
        |  Docs
    li.nav-title
      | System Utilization
    li.nav-item.px-3.d-narrow-none
      .text-uppercase.mb-1
        small
          b CPU Usage
      .progress.progress-thin
        .progress-bar.bg-info-gradient(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      small.text-medium-emphasis-inverse 348 Processes. 1/4 Cores.
    li.nav-item.px-3.d-narrow-none
      .text-uppercase.mb-1
        small
          b Memory Usage
      .progress.progress-thin
        .progress-bar.bg-warning-gradient(role='progressbar', style='width: 70%', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100')
      small.text-medium-emphasis-inverse 11444GB/16384MB
    li.nav-item.px-3.mb-3.d-narrow-none
      .text-uppercase.mb-1
        small
          b SSD 1 Usage
      .progress.progress-thin
        .progress-bar.bg-danger-gradient(role='progressbar', style='width: 95%', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
      small.text-medium-emphasis-inverse 243GB/256GB
  button.sidebar-toggler(type="button" data-coreui-toggle="unfoldable")
